# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.project
.classpath
.settings/
.factorypath

# 编译输出
*.class
*.jar
*.war

# 日志
logs/
*.log

# 配置文件
application-dev.yml
application-prod.yml
application-test.yml
application-*.properties
!application-example.yml
!application-example.properties 